<div class="container-fluid pt-5 my-5">
    <div class="container mt-5">
        <h2 class="text-center">Reset Password</h2>
         <!-- spinner -->
         <div *ngIf="isLoading" style="text-align: center;">
          <p>Resetting Password...</p>
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
      </div>
        <form (submit)="onResetPassword()">
          <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input type="password" id="password" class="form-control" required [(ngModel)]="newPassword" name="password">
          </div>
          <button type="submit" class="btn btn-success w-100">Change Password</button>
        </form>
      </div>
</div>
  