<div class="container-fluid pt-5 my-5">
    <!-- <div class="card" style="width:300px; margin-bottom: 16px;" *ngFor="let course of courses">
        <img class="card-img-top" src="logo.jpg" alt="Card image">
        <div class="card-body" style="text-align: center;">
          <h4 class="card-title">{{course.title}}</h4>
          <p class="card-text">{{course.des}}</p>
          <a href="#" class="btn btn-primary">Enroll</a>
        </div>
      </div> -->
      <div class="input-group">
        <input 
          type="text" 
          class="form-control" 
          placeholder="Search for a course..." 
          [(ngModel)]="enteredSearchValue"
          (input)="onSearch()"
        />
        <button 
          class="btn btn-primary" 
          type="button" 
          (click)="onSearch()">
          Search
        </button>
      </div><br>
      <div>{{ errorMessage }}</div>
    
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
          <!-- Course Card 1 -->
          <div class="col" *ngFor="let car of cars">
            <div class="card h-100" *ngIf="enteredSearchValue === '' || car.type.toLowerCase().includes(enteredSearchValue) ">
              <img [src]="car.image" class="card-img-top" alt="Car image">
              <div class="card-body" style="text-align: center;">
                <h5 class="card-title">{{car.name}}</h5>
                <h4 class="card-title">Type: {{car.type}}</h4>
                <h5 class="card-title">Price: {{car.price | currency: 'USD'}}</h5>
                <p class="card-text">{{car.des}}</p>
                <span style="margin: 16px;"><button type="button" class="btn btn-primary" (click)="navigateToCourse(car.id)">View Car</button></span><br><br>
                <button type="button" class="btn btn-primary" (click)="callSeller(car.phoneNumber)">📞 Contact Seller</button>
                <ng-template #later>
                  <span style="margin: 16px;"><button type="button" class="btn btn-primary" [disabled]="car.available !== 'available'">Buy Now</button></span>
                </ng-template>   
              </div>
            </div>
</div>
<div class="container-fluid pt-5 my-5" style="align-items: center; text-align: center;">
  <div class="spinner-border" [ngStyle]="{display: displayLoadingIndicator ? 'block':'none'}"></div>
</div>