
<div class="container-fluid pt-5 my-5">
     <!-- <div class="card h-100 text-center">
        <img [src]="course?.image" class="card-img-top mx-auto" alt="Image description" style="width: 100px; height: 100px;">
        <div class="card-body">
            <h5 class="card-title">{{course?.title}}</h5>
            <h4 class="card-title">Instructor: {{course?.instructor}}</h4>
            <p class="card-text">{{course?.des}}</p>
            <span style="margin: 16px;"><button type="button" class="btn btn-primary">View Course</button></span><br><br>
            <span style="margin: 16px;"><button type="button" class="btn btn-primary" [disabled]="course?.available !== 'available'"
               *ngIf="course?.available === 'available'; else later">Enroll Now</button></span>
            <ng-template #later>
              <span style="margin: 16px;"><button type="button" class="btn btn-primary" [disabled]="course?.available !== 'available'">Enroll Later</button></span>
            </ng-template>   
          </div>
      </div> -->

      <section class="course-header bg-primary text-white py-5">
        <div class="container text-center">
          <h1 class="display-4">{{ car?.name }}</h1>
          <p class="lead">{{ car?.type }}</p>
          <button class="btn btn-light btn-lg" (click)="navigateToCart()">Buy Now</button>
        </div>
      </section>
      
      <section class="container my-5">
        <div class="row">
          <!-- Course Description -->
          <div class="col-lg-8">
            <h2>About this Car</h2>
            <p>{{ car?.des }}</p>
          </div>
      
          <!-- Sidebar with car and Course Info -->
          <div class="col-lg-4">
      
            <div class="card mb-4">
              <div class="card-body">
                <h4 class="card-title">Car Details</h4>
                <p><strong>Type:</strong> {{ car?.type }}</p>
                <p><strong>name:</strong> {{ car?.name }}</p>
                <p><strong>description:</strong> {{ car?.des }}</p>
                <p><strong>Price:</strong> {{ car?.price }}</p>
                <div style="text-align: center;">
                  <button class="btn btn-primary btn-lg" (click)="navigateToCart()">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Reviews Section -->
        <div class="my-5">
          <h3>Client Reviews</h3>
          <div *ngFor="let review of car?.reviews" class="mb-3">
            <strong>{{ review.name }}</strong>
            <p>{{ review.comment }}</p>
            <small class="text-muted">{{ review.date }}</small>
          </div>
        </div>
      </section>      
      
</div>