<div class="container-fluid pt-5 my-5">
    <div class="container mt-5">
        <h2 class="text-center">Forgot Password</h2>
        <!-- spinner -->
        <div *ngIf="isLoading" style="text-align: center;">
          <p>Sending Reset Password link...</p>
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
      </div>
        <p class="text-center text-muted">Enter your email to reset your password.</p>
        <form (submit)="onForgotPassword()">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" required [(ngModel)]="email" name="email">
          </div>
          <button type="submit" class="btn btn-danger w-100">Reset Password</button>
        </form>
      </div>
</div>
  