<div class="container-fluid pt-5 my-5">

  <section class="d-flex justify-content-center align-items-center vh-100 bg-light">
      <div class="card p-4" style="width: 24rem;">
        <h3 class="text-center mb-4">Register</h3>
                                        <!-- spinner -->
        <div *ngIf="isLoading" style="text-align: center;">
          <p>Registering Account...</p>
          <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <form (submit)="onRegister(registerForm)" #registerForm="ngForm">
          <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" id="fullName" class="form-control" required [(ngModel)]="userFullName"
             name="userFullName" #fullName="ngModel">
          </div>
          <div *ngIf="fullName.invalid && fullName.touched" class="text-danger">
            Name is required
          </div>

          <div class="mb-3">
            <label for="userEmail" class="form-label">Email address</label>
            <input type="email" id="userEmail" class="form-control" required [(ngModel)]="userEmail" 
            name="userEmail" #email ="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
          </div>
            <div *ngIf="email.invalid && email.touched" class="text-danger">
              <div *ngIf="email.errors?.['required']">Email is required</div>
              <div *ngIf="email.errors?.['pattern']">Please enter a valid email address</div>
          </div>

          <div class="mb-3">
            <label for="userPassword" class="form-label">Password</label>
            <input type="password" id="userPassword" class="form-control" 
            required [(ngModel)]="userPassword" name="userPassword" #password="ngModel"
            >
          </div>
          <div *ngIf="password.invalid && password.touched" class="text-danger">
            Password is required
          </div>

          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" id="confirmPassword" class="form-control" required [(ngModel)]="confirmPassword" 
            name="confirmPassword" #confirmPassword="ngModel">
          </div>
          <!-- <div *ngIf="confirmPassword.touched" class="text-danger">
            Passwords do not match.
          </div> -->

          <button type="submit" class="btn btn-primary w-100" [disabled]="!registerForm.form.valid">Register</button>
          <p class="text-center mt-3">
            Already have an account? <a routerLink="/login">Login here</a>
          </p>
        </form>
      </div>
    </section>      

</div>
